.todos {
  > * {
    transition: 0.4s ease;
  }

  .card[draggable] {
    cursor: move;
  }

  .card:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  > * + * {
    border-top: 0.2rem solid var(--clr-gb-6);
  }
}

.item {
  flex: 1;
  color: var(--clr-gb-2);

  &:hover {
    color: var(--clr-gb-1);
  }
}
